{% load static %}
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>HOME</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="titulo">APLICAÇÃO PARA DEPLOY NA AWS</div>
<div class="subtitulo">Gerencie a lista a baixo</div>

{% if user.is_authenticated %}
	<p>Ola {{user.username}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
	<a href="{% url 'login' %}">Login</a>
{% endif %}

<ul>
	<li><a href="{% url 'readme' %}">README</a></li>
	<li><a href="{% url 'incluir' %}">Incluir</a></li>
	<li><a href="{% url 'listar' %}">listar</a></li>
</ul>


</body>
</html>